
/* base styles */
*{
  box-sizing: border-box; 
}

html, body {
  margin:0px;
  padding:0px;
  color: black;
  }

body {
  font-size: 16px;
  margin: 0px 0 0 0;
  font-family: 'Oxygen', sans-serif;
  box-sizing: border-box; 
}

/** HEADER and brand**/
.navbar{
  margin-bottom: -11px;

}
#header-nav {
  
  border: 0;
  padding:10px;
  padding-bottom: 20px;
  background-color: #d3d3d3;
  border-bottom:  2px solid black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
  float: left;

}

.navbar-brand a {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: black;

}
/* nav list*/
#nav-list {
  margin-top: 10px;
  background-color: white;

}

#nav-list a {
  color: black;
  text-align: center;
  background-color: white;
  border-bottom: 2px solid black;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  
 
}

#nav-list a:hover {
  background: #d3d3d3;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


/* paragraph and main content*/
.page-header{
  border-bottom: 0px solid ;
  margin: 15px 0 0 0;
}

.paragraph{
    background-color:#d3d3d3;
    text-align: center;
    height:1000px;
    margin: 0px 0 0 0;
    
}
#row{
  width: 100%

  }

/*** extra small devices**/
@media (max-width: 767px) {
  .container-fluid{
    margin-left: 40px;
    margin-right:40px;}
  }
      
     
